.App {
  background-color: black;
  padding: 25px 20px 34px;
  min-height: 100vh;
}

@media screen and (min-width: 1024px) {
  .App {
    padding: 35px 42px 62px;
  }
}
@media screen and (min-width: 768px) {
  .App {
    padding: 35px 34px 54px;
  }
}
@media screen and (min-width: 1366px) {
  .App {
    padding: 35px 123px 97px;
  }
}
.filters {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .filters {
    flex-direction: row;
  }
}
